/* Ipad Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .mainDiv {
    height: 50vh;
    background-color: rgba(135, 207, 235, 0.801);
    position: fixed;
    width: 96%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-right: 38px;
  }
  .sliderDiv {
    margin: 50px auto;
    width: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .costShowcase {
    text-align: center;
    margin-bottom: 20px;
  }
  .catDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
/* Desktop No retina */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .mainDiv {
    height: 50vh;
    background-color: rgba(135, 207, 235, 0.801);
    position: fixed;
    width: 96%;
    z-index: 1;
    padding-right: 38px;
  }
  .sliderDiv {
    margin: 50px auto;
    width: 50vh;
  }
  .costShowcase {
    text-align: center;
    margin-bottom: 20px;
  }
  .catDiv {
    display: flex;
    justify-content: space-evenly;
  }
}
/* Phone Portrait and Landscape  70vh === 344 X 484*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .mainDiv {
    background-color: rgba(135, 207, 235, 0.801);
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 0 -10px;
    padding-right: 10px;
  }
  .sliderDiv {
    margin: 50px auto 0 auto;
    padding: 0 5px;
    width: 280px;
  }
  .costShowcase {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
  }
  .catDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    width: 280px;
  }
}
